// use this file for boxing avatars and headings styles and border, background, and rounding

li {
  border: 1px solid #202F37;
  border-radius: 20px;
  background-color: #F0F0F0;
  display: flex;
  align-content: center;

  img {
    width: 10%;
    height: 100%;
    flex: 0 0 10%;
  }

  h2 {
    font-size: 5em;
    margin: 0;
  }
}
